[submodule "hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile
[submodule "port-hugo"]
	path = themes/port-hugo
	url = https://github.com/tylerjlawson/port-hugo	
